* {
  box-sizing: border-box;
}
 
img {
  width: 100%;
}
 
body {
  margin: 0;
  font-family: sans-serif;
}
 
.header {
  justify-content: space-between;
}
 
.header,
.footer {
  display: flex;
  align-items: center;
  background-color: #0c977b;
  border-bottom: solid 2px #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
 
.footer {
  justify-content: space-around;
}
 
.logo,
.navigation {
  margin: 0 0 0 0.45em;
  list-style: none;
  text-transform: uppercase;
  padding: 10px;
}
 
.navigation {
  display: flex;
}
 
.logo a {
  color: black;
}
 
.logo a,
.navigation a {
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 1em;
}
 
.navigation li {
  list-style-type: none;
  display: inline-block;
  color: #ffff;
}
 
.navigation a {
  color: #fff;
  display: block;
}
 
.navigation a:hover {
  background: #53d7bd;
}
 
.section_top {
  display: flex;
}
 
.social_media,
.quick_links {
  display: flex;
  align-items: center;
  padding: 25px;
}
 
.social_media li,
.quick_links li {
  list-style-type: none;
  display: block;
  color: #ffff;
  line-height: 30px;
}
 
.social_media a,
.quick_links a {
  color: #fff;
  text-decoration: none;
  margin: 0px 15px;
}
 
/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .header {
    flex-direction: column;
  }
 
  .logo {
    margin: 0;
  }
 
  .navigation ul {
    padding: 0px;
  }
 
  .footer {
    flex-wrap: nowrap;
  }
}
 
/* ****** ****** */
@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
    align-self: left;
    /* align the logo to the left side of 'flex-container' */
  }
 
  .logo {
    margin: 0.25em 0;
    text-align: center;
    padding: 7px;
  }
 
  .navigation ul {
    margin: 0;
    padding: 0;
  }
 
  .navigation a {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
 
  .navigation li {
    display: block;
  }
 
  .navigation li:last-of-type a {
    border-bottom: none;
  }
 
  .footer {
    flex-wrap: wrap;
  }
}
 